.Home-Page{

    width: 100%;
}
.AddBook{

  outline: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px 20px 5px 20px;
  font-size: 15px;
  text-decoration: none;
  
  }
  .AddBook:hover{

      color: green;

  }